.orderadmin-delivery {
    margin: 15px 0;
}

.orderadmin-delivery h3 {
    margin: 10px 0 25px;
}

.orderadmin-delivery div.radio {
    margin: 10px 0;
}

.orderadmin-delivery div.radio b {
    font-size: 15px;
}

.orderadmin-delivery img {
    margin: 10px 0;
}

.orderadmin-info p {
    font-size: 12px;
    margin-bottom: 5px;
}