.oaIcon {
    padding: 3px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
}

.oaPopup {
    width: 430px;
    margin: 5px;
}

.oaPopup h3 {
    margin-bottom: 10px;
    font-size: 15px;
}

.oaPopupPrice {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.oaPopupImage {
    min-width: 75px;
    max-width: 150px;
    width: 100%;
    margin-bottom: 15px;
}

.oaPopupButton {
    margin: 10px 0 0 0;
    font-size: 15px;
    border: 1px #999 solid;
    border-radius: 3px;
    padding: 5px 10px;
}
