<div id="calculator">
    <div id="city" class="well">
        <h3>{{selectedCity.name}}<span ng-if="selectedCity.subArea.name">, {{selectedCity.subArea.name}}</span></h3>
        <p>
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#cityModal" role="button">Выбрать</a>
            <a class="btn btn-primary" href="#" ng-click="refresh()" role="button" ng-show="selectedCity.id">Пересчитать</a>
            <a class="btn btn-primary" href="#" ng-click="refreshFilter()" data-toggle="modal" data-target="#mapModal" role="button" ng-show="!isLoading">Карта</a>
        </p>
    </div>
    <div id="error" class="alert alert-warning" ng-show="isError">
        {{error.text}}
    </div>
    <div id="loader" ng-show="isLoading">
        <i class="glyphicon glyphicon-refresh spin" aria-hidden="true"></i>
    </div>
    <div id="deliveries" ng-show="deliveries && !isLoading">
        <!-- Nav tabs -->
        <ul class="nav nav-pills">
            <li ng-if="counterModel.courier" ng-class="{active: activeTab === 1}" ng-click="setActive(1)">
                <a href="" aria-controls="courier" role="tab">Курьерская доставка <span
                    class="badge">{{counterModel.courier}}</span></a>
            </li>
            <li ng-if="counterModel.selfServicePoint" ng-class="{active: activeTab === 2}" ng-click="setActive(2)">
                <a href="" aria-controls="selfServicePoint" role="tab">Постаматы
                <span class="badge">{{counterModel.selfServicePoint}}</span></a>
            </li>
            <li ng-if="counterModel.servicePoint" ng-class="{active: activeTab === 3}" ng-click="setActive(3)">
                <a href="" aria-controls="servicePoint" role="tab">Пункты выдачи <span
                    class="badge">{{counterModel.servicePoint}}</span></a>
            </li>
            <li ng-if="counterModel.russianPost" ng-class="{active: activeTab === 4}" ng-click="setActive(4)">
                <a href="" aria-controls="russianPost" role="tab">Почтой России <span
                    class="badge">{{counterModel.russianPost}}</span></a>
            </li>
        </ul> 
        <!-- Tab panes -->
        <div class="tab-content margin-top">
            <div ng-class="{active: activeTab === 1}" class="tab-pane" id="courier">
                <div class="list-group" id="courier-deliveries-list">
                    <delivery-directive delivery="delivery" services="servicePoints" ng-repeat="delivery in deliveries.courier"></delivery-directive>
                </div>
            </div>
            <div ng-class="{active: activeTab === 2}" class="tab-pane" id="selfServicePoint">
                <div class="list-group" id="self-service-points-list">
                    <delivery-directive delivery="delivery" services="servicePoints" ng-repeat="delivery in deliveries.selfServicePoint"></delivery-directive>
                </div>
            </div>
            <div ng-class="{active: activeTab === 3}" class="tab-pane" id="servicePoint">
                <div class="list-group" id="service-points-list">
                    <delivery-directive delivery="delivery" services="servicePoints" ng-repeat="delivery in deliveries.servicePoint"></delivery-directive>
                </div>
            </div>
            <div ng-class="{active: activeTab === 4}" class="tab-pane" id="russianPost">
                <div class="list-group" id="russian-post-list">
                    <delivery-directive delivery="delivery" services="servicePoints" ng-repeat="delivery in deliveries.russianPost"></delivery-directive>
                </div>
            </div>
        </div>
    </div>
    <modal-directive></modal-directive>
    <map-modal-directive deliveries="deliveries"></map-modal-directive>
</div>
