<div class="media list-group-item delivery-option" ng-click="selectDelivery()" ng-class="{active: active === true}">
    <div class="media-left">
<!--         <input type="checkbox"> -->
        <div class="well">
            <img class="media-object" ng-src="{{ delivery.info.deliveryService.logo }}" alt="{{ delivery.info.deliveryService.name }}" ng-if="delivery.info.deliveryService.logo">
            <span ng-if="!delivery.info.deliveryService.logo">{{ delivery.info.deliveryService.name}}</span>
        </div>
    </div>
    <div class="media-body"> 
        <h4 class="media-heading">{{ delivery.name }}</h4>
        <p ng-if="delivery.deliveryPeriodMin"><b>Срок доставки:</b> {{ delivery.deliveryPeriodMin }} д.</p>
        <p ng-if="delivery.deliveryPeriodStr"><b>Срок доставки:</b> {{ delivery.deliveryPeriodStr }} д.</p>
        <p ng-if="delivery.description">{{ delivery.description }}</p>

        <p ng-if="servicePoints.length">
            <select class="form-control service-point-select"  ng-options="obj.name for obj in servicePoints track by obj.id" ng-model="delivery.selectValue" ng-change="onChange(servicePoints[delivery.selectValue])">
                <option value="">Выбрать...</option>
<!--                 <option ng-repeat="option in servicePoints" value="{{$index}}" ng-selected="$index == delivery.selectValue">{{option.address}} ({{option.extId}})</option> -->

            </select>
        </p>
    </div>
    <div class="media-right">
        <div class="well">
            <h3>{{ delivery.price | number : 2}} &#8381;</h3>
        </div>
    </div>
    <ul ng-show="delivery.selectValue">
        <li><b>Название:</b> {{delivery.selectValue.name}}</li>
        <li><b>Адрес:</b> {{delivery.selectValue.address}}</li>
        <li ng-if="delivery.selectValue.description">
            <div>{{delivery.selectValue.description}}</div>
        </li>
    </ul>

    <div ng-if="delivery.selectValue" class="margin-top">
        <map-directive marker="delivery.selectValue"></map-directive>
    </div>
</div>