<div class="orderadmin--geolocation">
	Ваш регион: 
	<div class="orderadmin--geolocation-wrapper">	
		<span class="orderadmin--geolocation-city">{{selectedCity.name}}</span>
		<div class="orderadmin--geolocation-dropdown">
			<div id="loader" ng-show="isLoading">
			    <i class="glyphicon glyphicon-refresh spin" aria-hidden="true"></i>
			</div>
			<div class="orderadmin--padding" ng-if="!isLoading">
				<div ng-show="minPrices.courier"><b>Курьером</b> от {{minPrices.courier}} руб.
					<div>{{postmate.address}}</div>
				</div>
				<div ng-show="minPrices.self_service_point"><b>Самовывоз</b> от {{minPrices.self_service_point}} руб.</div>
				<div ng-show="minPrices.service_point || minPrices.service_point == 0"><b>ПВЗ</b> от {{minPrices.service_point}} руб.</div>
				<div ng-show="minPrices.russian_post"><b>Почта России</b> от {{minPrices.russian_post}} руб.</div>

				<div>		
					<span class="orderadmin--blue-link">Подробнее о доставке</span>
					<img src="" class="orderadmin--minicalculator-logo" alt="">
				</div>
			</div>
			<div class="orderadmin--padding orderadmin--geolocation-dropdown-bottom" data-toggle="modal" data-target="#cityModal" role="button">		
				<span>Сменить город</span>
			</div>
		</div>
	</div>
	<modal-directive></modal-directive>
</div>