<div class="modal fade" id="mapModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Выберите пункт самовывоза</h4>
            </div>
            <div class="modal-body">
                <div class="form-group has-feedback has-feedback-left" >

                    <div class="orderadmin--map-filter">
<!--                         <rzslider rz-slider-model="sliderPrice.minValue" rz-slider-high="sliderPrice.maxValue" rz-slider-options="sliderPrice.options"></rzslider> -->
                        <!--                             <rzslider rz-slider-model="sliderTime.minValue" rz-slider-high="sliderTime.maxValue" rz-slider-options="sliderTime.options"></rzslider> -->
                        <div class="checkbox" ng-show="pointsLength.selfServicePoint">
                            <label>
                                <input type="checkbox" value="{{service.id}}" ng-change="checkboxChange(service.id)" ng-model="pointsTypes.self_service_point">Постаматы</label>
                        </div>
                        <div class="checkbox" ng-show="pointsLength.servicePoint">
                            <label>
                                <input type="checkbox" value="{{service.id}}" ng-change="checkboxChange(service.id)" ng-model="pointsTypes.service_point">ПВЗ</label>
                        </div>
                        <div class="checkbox" ng-show="pointsLength.russianPost">
                            <label>
                                <input type="checkbox" value="{{service.id}}" ng-change="checkboxChange(service.id)" ng-model="pointsTypes.russian_post">Почта России</label>
                        </div>
                        <div>
                            <label for="">Службы доставки: </label>
                            <span ng-repeat="service in deliveryServices">
                                <span class="checkbox">
                                  <label><input type="checkbox" value="{{service.id}}" ng-change="checkboxChange()" ng-model="selectedServices[service.name]">{{service.name}}</label>
                                </span>
                            </span>
                        </div>
                    </div>
                    <h4 class="modal-title modal-header">
                        Найдено объектов: <b>{{geoObjects.length}}</b>
                    </h4>
                    <ya-map ya-zoom="{{zoomLevel}}" ya-center="{{initItems[0].geometry.coordinates}}" class="yamap" ya-controls="zoomControl searchControl">
                        <ya-cluster ya-options="">
                            <ya-geo-object ya-options="{balloonContentLayout:'templateOne', iconLayout: 'default#image', iconImageHref: '{{o.icon}}'}" ng-repeat="o in geoObjects" ya-source="o" ya-event-click="onClick($event, o)"></ya-geo-object>
                        </ya-cluster>
                    </ya-map>
                    <ya-template-layout ya-key="templateOne">
                        <div style="margin: 10px;">
                            <div>Название службы: <b>$[properties.name]</b></div>
                            <div>$[properties.description]</div>
                            <br>
                            <div>Время работы: <b>$[properties.timetable]</b></div>
                            <div> <img src="" alt=""> </div>
                            <div>Цена: <b>$[properties.price]</b></div>
                            <button class="orderadmin--select-button" ng-click="test()">Выбрать</button>
                        </div>
                    </ya-template-layout>
                    <button class="btn cancel" data-dismiss="modal">
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
