<div>
	<ya-map ya-zoom="12" ya-center="{{geoObjects[0].geometry.coordinates}}" class="yamap-min" ya-controls="zoomControl searchControl">
		<ya-geo-object ya-source="geoObjects[0]"></ya-geo-object>
	</ya-map>
</div>