<div class="panel panel-default orderadmin--minicalculator">
	<div class="orderadmin--padding">Доставка в город: <span class="orderadmin--blue-link" data-toggle="modal" data-target="#cityModal" role="button">{{selectedCity.name}}</span></div>
	<div class="orderadmin--minicalculator-border"></div>
	<div id="loader" ng-show="isLoading">
	    <i class="glyphicon glyphicon-refresh spin" aria-hidden="true"></i>
	</div>
	<div class="orderadmin--padding" ng-if="!isLoading">
		<div ng-show="minPrices.courier"><b>Курьером</b> от {{minPrices.courier}} руб.
			<div>{{postmate.address}}</div>
		</div>
		<div ng-show="minPrices.self_service_point"><b>Самовывоз</b> от {{minPrices.self_service_point}} руб.</div>
		<div ng-show="minPrices.service_point || minPrices.service_point == 0"><b>ПВЗ</b> от {{minPrices.service_point}} руб.</div>
		<div ng-show="minPrices.russian_post"><b>Почта России</b> от {{minPrices.russian_post}} руб.</div>

		<div>		
			<span class="orderadmin--blue-link">Подробнее о доставке</span>
		</div>
	</div>
	
	<modal-directive></modal-directive>
</div>