<div class="modal fade" id="cityModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Выберите город</h4>
            </div>
            <div class="modal-body">
                <div class="form-group has-feedback has-feedback-left">
                    <input type="text" id="city-field" class="form-control" placeholder="Название города" value="" ng-change="onChange()" ng-model-options='{ debounce: 300 }' ng-model="searchValue" />
                    <i class="form-control-feedback glyphicon glyphicon-refresh spin" aria-hidden="true" ng-show="isLoading"></i>
                </div>
                <div class="list-group" id="cities-list">
                    <a href="#" class="list-group-item" ng-click="setCity(item)" ng-repeat="item in items" data-dismiss="modal">
                        <h4 class="list-group-item-heading">{{item.name}}</h4>
                        <p class="list-group-item-text">{{item.type}}, {{item.subArea.name}}</p>
                    </a>
                </div>
                <div class="modal-footer">
                    <button class="btn cancel" data-dismiss="modal">
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
